* {
	outline : none;
}

body{
	font-family: 'Open Sans', sans-serif;

}

.container{
	max-width: 960px;
	margin: 0 auto;
}

header{
	text-align: center;
}

header h1{
	margin-left: 380px;
	float: left;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: #000;
	text-transform: uppercase;
}

header .info{
	float: left;
	margin-top: 59px;
	margin-left: 100px;
}

header .info span{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	border: 3px solid #000;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

header .info span:hover{
	/*transform: scale(1);*/
}

#start{
	margin: 0 auto;
	text-align: center;
}

.start-game{
	height: 55px;
	width: 250px;
	text-transform: uppercase;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.rules{
	text-align: center;
}
.rules-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden, .hide{
	display: none;
}
.clearfix{
	clear: both;
	zoom:1;
}

.block-user{
	float: left;
	max-width: 300px;
	max-height: 250px;
	border-right: 1px solid #000;
	padding-top: 45px;
	padding-bottom: 45px;
}

.block-user h3{
	margin: 0;
	padding: 0;
	text-align: center;
}

.block-user span{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	margin: 14px 14px 0 0;
}

span:hover{
	cursor: pointer;
	transform: scale(1.25);
}

.block-user .colors{
	max-width: 180px;
}

.block-game{
	float: left;
	position: relative;
	width: 600px;
	margin-left: 150px;
}

.validate{
	position: absolute;
	top: 35px;
	left: -50px;
	transition : top 1s ease;
}

.btn-validate{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	height: 35px;
	width: 100px;
	background-color: #8bd99d;
	border: none;
	text-transform: uppercase;
}

.btn-validate:hover{
	cursor: pointer;
	background-color: #009933;
	color: #fff;
}

.block-game span{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	margin-left: 75px;
	margin-top: 30px;
	background-color: #000;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

.pions{
	width: 500px;
	float: left;
}

.results{
	float: left;
	width: 50px;
	margin-top: 25px;
	margin-left: 50px;
}
.results span{
	width: 4px;
	height: 40px;
	margin: 0;
	margin-right: 8px;
	padding: 0;
	border: none;
}

.row{
	clear: both;
}
.active{
	transform: scale(1.25);
	filter: blur(5px);
}

/*span{
	display: block;
	width: 30px;
	height: 30px;
	background: red;
	float: left;
	margin-left: 5px;
}*/