* {
	outline : none;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #fff;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

header{
	text-align: center;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: #e67e22;
}

header h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

header .info{
	float: left;
	margin-top: 59px;
	margin-left: 100px;
}

header .info span{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	border: 3px solid #000;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

header .info span:hover{
	/*transform: scale(1);*/
}

#start{
	margin: 0 auto;
	text-align: center;
}

.block-start h1{
	font-size: 60px;
	font-weight: 700px;
	color: #102A40;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.block-start h2{
	font-size: 25px;
	color: #21537F;
	margin: 0;
	padding: 0;
}

.block-start h3{
	color: #21537F;
}

.block-start .rules{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;
	border: 1px solid #102A40;
	padding-top: 25px;
	padding-bottom: 25px;
}

.start-game{
	height: 55px;
	background-color: #e67e22;
	color: #fff;
	border: none;
	font-size: 16px;
	width: 260px;
	text-transform: uppercase;
	  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.start-game:hover{
	cursor: pointer;
	background-color: #d35400;
	transform: scale(1.1);
}

.rules{
	text-align: center;
}
.rules-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden, .hide{
	display: none;
}
.clearfix{
	clear: both;
	zoom:1;
}

#game{
	margin-top: 50px;
}

.block-user{
	/*float: left;*/
	max-width: 300px;
	max-height: 250px;
	border-right: 1px solid #000;
	padding-top: 45px;
	padding-bottom: 45px;
	position: fixed;
}

.block-user h3{
	margin: 0;
	padding: 0;
	text-align: center;
}

.block-user span{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	margin: 14px 14px 0 0;
}

span:hover{
	cursor: pointer;
	transform: scale(1.25);
}

.block-user .colors{
	max-width: 180px;
}

.block-game{
	/*float: left;*/
	position: relative;
	width: 620px;
	margin-left: 30%;
}

.validate{
	position: absolute;
	top: 35px;
	left: -50px;
	transition : top 1s ease;
}

.btn-validate{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	height: 35px;
	width: 100px;
	background-color: #8bd99d;
	border: none;
	text-transform: uppercase;
}

.btn-validate:hover{
	cursor: pointer;
	background-color: #009933;
	color: #fff;
}

.block-game span{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	margin-left: 75px;
	margin-top: 30px;
	background-color: #000;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

.pions{
	width: 500px;
	float: left;
}

.results{
	float: left;
	width: 55px;
	margin-top: 30px;
	margin-left: 50px;
}
.results span{
	width: 5px;
	height: 40px;
	margin: 0;
	margin-right: 8px;
	padding: 0;
	border: none;
}

.row{
	clear: both;
}
.active{
	transform: scale(1.25);
	filter: blur(5px);
}

#end{
	position: absolute;
	top: 45%;
	z-index: 1;
	width: 100%;
	text-align: center;
}
#end .replay{
	display: block;
	color: #FFF;
	text-transform: uppercase;
	padding: .6rem 1rem;
	border: 1px solid #FFF;
	border-radius: 3px;
	width: 160px;
	margin: 1rem auto;
	margin-top: 0;
}
#end .replay:hover{
	background: rgba(255,255,255, .2);
}

.win{
	background-color: #21537F;
}
.loose{
	background-color: #e74c3c;
}

.message{
	text-transform: uppercase;
	color: #fff;
	font-size: 40px;
}

.input{
	margin: auto;
	margin-bottom: 45px;
	text-align: center;
	width: 220px;
}

.input label{
	text-transform: uppercase;
}

input#name{
	width: 200px;
	height: 30px;
	font-size: 18px;
}